/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# 一時ディレクトリ
/l10dev_tmp

/docker/mysql
/docker/phpmyadmin

# 追加
*.log
*.sqlite
.htaccess
/storage
/config
